.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  font-family: 'Courier New', Courier, monospace;
  list-style: square;
  background-color: lightgrey;
}

h4 {
  text-decoration: underline;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.left-align {
  text-align: left;
}

.lista {
  font-family: 'Courier New', Courier, monospace;
  font: 5px;
  color:#740000;
}

.elementos {
  margin: 1%;
  padding: 1px;
  font: 5px;
  color:#740000;
}

.boton {
  background-color: #740000;
  color: white;
  padding: 1%;
  text-align: center;
  text-decoration: none;
  border: 1px solid #740000;
  border-radius: 5%;
  margin: 5px;
  cursor: pointer;
}